<div qv-extension style="height: 100%; position: relative; overflow: auto;" >
    <div style="height: 100%; position: relative;" class="ttl-table">
        <table>
        <caption ng-if='layout["ttl-table-props"].captionText.length > 0'>
            {{layout["ttl-table-props"].captionText}}
        </caption>
            <thead>
                <tr>
                    <th ng-if='layout["ttl-table-props"].chartTitle.length > 0' colspan="2" class="group">
                        {{layout["ttl-table-props"].chartTitle}}
                    </th>
                </tr>
                <tr>
                    <th ng-repeat="row in table.headers" class="item">
                        <div ng-switch="dataTypeHeader(row)">
                            <div ng-switch-when="number" class="ttl-table-number">
                                {{row.qFallbackTitle}}
                            </div>
                            <div ng-switch-default class="ttl-table-text">
                                {{row.qFallbackTitle}}
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in  table.rows">
                    <td ng-repeat="item in row.cells">
                        <div ng-switch="dataTypeCell(item)">
                            <div ng-switch-when="number" class="ttl-table-number">
                                {{item.qNum.toLocaleString()}}
                            </div>
                            <div ng-switch-default class="ttl-table-text">
                                {{item.qText}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
